{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(article) %}
    {{ translations.entry_hreflang(article) }}
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{ tag }}" />
  {% endfor %}

{% endblock %}

{% block content %}
{% if article.image is defined %}
<div id="imagemodal" class="modal">
  <div class="modal-background" id="hide"></div>
  <div class="modal-content">
    <img src="{{ SITEURL }}/theme/images/articles/{{ article.image }}" alt="{{ article.title }}, {{ article.description }}" title="{{ article.summary|striptags|replace('"', "'") }} " width="640" height="640">
    <br>
    <a class="button" href="{{ SITEURL }}/theme/images/articles/{{ article.image }}" target="_blank"><i class="fas fa-download"></i>&nbsp;{{ article.image }}</a>
  </div>
  <button id="modalx" class="modal-close is-large" aria-label="close"></button>
</div>
{% endif %}
<section id="content" class="section">
  <div class="container">
    <div class="column is-three-fifths" style="{% if article.image is defined %}background-image:radial-gradient(#0002,#222),url('{{ SITEURL }}/theme/images/articles/{{ article.image }}');height: 50%;background-position:center;background-repeat:no-repeat;background-size:cover;position:relative;border:1px solid #333;border-radius:1rem;{% else %}border:1px solid #333;border-radius:1rem;background:#333;box-shadow:inset 0 0 3rem 2rem #222;{% endif %}margin-bottom:2rem">
      {% if article.image is defined %}<button id="show" class="button is-text icon is-medium article-image"><i class="fas fa-image"></i></button>{% endif %}
      <header>
        <h1 class="title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags|replace('"', "'") }}" class="article-title"><span class="icon"><i class="{% if article.icon is defined %}{{ article.icon }}{% else %}fas fa-paperclip{% endif %}"></i></span>&nbsp;{{ article.title }}</a><small class="subtitle">{% if article.description is defined %}<br>—&nbsp;{{ article.description }}{% endif %}</small></h1>
 {% import 'translations.html' as translations with context %}
 {{ translations.translations_for(article) }}
      </header>

      {% if article.readtime %}
      <p class="readtime">Estimated read time: {{article.readtime.minutes}} min.</p>
      {% endif %}
      <br>
      <footer class="post-info">
        <p>Created: <time class="published" datetime="{{ article.date.isoformat() }}">
          {{ article.locale_date }}
        </time></p>
        {% if article.modified %}
        <p>Modified: <time class="modified" datetime="{{ article.modified.isoformat() }}">
          {{ article.locale_modified }}
        </time></p>
        {% endif %}
        {% if article.authors %}
        <address class="vcard author">
          <p>By: {% for author in article.authors %}
              <a class="tag is-primary" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
              {% endfor %}</p>
    </address>
    {% endif %}
    {% if article.category %}
    <div class="category">
      <p>Category: <a href="{{ SITEURL }}/{{ article.category.url }}" class="tag is-primary">{{ article.category }}</a></p>
    </div>
    {% endif %}
    {% if article.tags %}
    <div class="tags">
      <p>Tags:
        {% for tag in article.tags %}
        <a href="{{ SITEURL }}/{{ tag.url }}" class="tag is-primary">{{ tag }}</a>
        {% endfor %}
      </p>
    </div>
    {% endif %}
  </footer><!-- /.post-info -->
    </div>
  <div class="container">
    <div class="column is-three-fifths">
      <div class="content blog-content">
        {{ article.content }}
      </div>
    {% if article.share_post is defined and article.status != 'draft' %}
    <p id="feedback" class="feedback">
      <i class="fas fa-at"></i>&nbsp; {{ EMAIL }}
    </p>
    <br>
    {% endif %}
    {% if article.prev_article_in_category or article.next_article_in_category or article.prev_article or article.next_article %}
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
      {% if article.prev_article_in_category %}
      <a href="{{ SITEURL }}/{{ article.prev_article_in_category.url }}" class="pagination-previous" title="{{ article.prev_article_in_category.title }}, {{ article.prev_article_in_category.description }}"><i class="{% if article.prev_article_in_category.icon %}{{ article.prev_article_in_category.icon }}{% else %}fas fa-paperclip{% endif %}"></i>&nbsp;{{ article.prev_article_in_category.title }}</a>
      {% elif article.prev_article %}
      <a href="{{ SITEURL }}/{{ article.prev_article.url }}" class="pagination-previous" title="{{ article.prev_article.title }}, {{ article.prev_article.description }}"><i class="{% if article.prev_article.icon %}{{ article.prev_article.icon }}{% else %}fas fa-paperclip{% endif %}"></i>&nbsp;{{ article.prev_article.title }}</a>
      {% else %}
      <a href="{{ SITEURL }}" class="pagination-previous" title="Latest articles"><i class="fas fa-home"></i>&nbsp;Home page</a>
      {% endif %}
      {% if article.next_article_in_category %}
      <a href="{{ SITEURL }}/{{ article.next_article_in_category.url }}" class="pagination-next" title="{{ article.next_article_in_category.title }}, {{ article.next_article_in_category.description }}"><i class="{% if article.next_article_in_category.icon %}{{ article.next_article_in_category.icon }}{% else %}fas fa-paperclip{% endif %}"></i>&nbsp;{{ article.next_article_in_category.title }}</a>
      {% elif article.next_article %}
      <a href="{{ SITEURL }}/{{ article.next_article.url }}" class="pagination-next" title="{{ article.next_article.title }}, {{ article.next_article.description }}"><i class="{% if article.next_article.icon %}{{ article.next_article.icon }}{% else %}fas fa-paperclip{% endif %}"></i>&nbsp;{{ article.next_article.title }}</a>
      {% else %}
      <a href="{{ SITEURL }}" class="pagination-next" title="Latest articles"><i class="fas fa-home"></i>&nbsp;Home page</a>
      {% endif %}
    </nav>
    {% endif %}
    <!-- Begin Mailchimp Signup Form -->
      <form action="https://pouyacode.us17.list-manage.com/subscribe/post?u=5e160a91aa02ef72d40761610&amp;id=1bb48b871b" id="subscription" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <p class="has-text-centered">Subscribe to my mailing list to get updates on new articles.<br>I hate spam as much as you do, just new articles and important notices.</p>
        <br>
        <div class="field has-addons has-addons-centered">
          <div class="control has-icons-left">
            <input type="email" value="" name="EMAIL" class="input" placeholder="Email" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; margin-left: -5000px;" aria-hidden="true"><input type="text" name="b_5e160a91aa02ef72d40761610_1bb48b871b" tabindex="-1" value=""></div>
          </div>
          <div class="control">
            <input type="submit" value="Subscribe" class="button is-primary">
          </div>
        </div>
        <p class="has-text-centered">Or anonymously subscribe to my <a href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" rel="nofollow" target="_blank">Atom feed&nbsp;<i class="fas fa-rss"></i></a></p>
      </form>
      <!--End mc_embed_signup-->
    </div>
  </div><!-- /.entry-content -->
  </div>
</section>
{% endblock %}
