{% extends "base.html" %}
{% block content %}
<div id="content">
{% block content_title %}
  <div class="hero is-primary">
    <div class="hero-body">
      <div class="container has-text-centered">
        <figure class="avatar image is-128x128">
          <img class="is-rounded" src="{{ SITEURL }}/theme/images/avatar.svg" alt="{{ AUTHOR }}'s avatar" title="{{ AUTHOR }} - {{ DESCRIPTION }}" width="128" height="128">
        </figure>
        <p class="title">{{ SITENAME }}</p>
        <p class="subtitle">{{ DESCRIPTION }}</p>
        <p class="code">Hello world! My name is Pouya.</p>
        <p>A natural problem solver by birth, and a programmer by choice.
        <br>Fascinated by technical details and state of the art technologies.
        </p>
      </div>
    </div>
  </div>
{% endblock %}

<section id="post-list" class="section">
{% for article in articles_page.object_list %}
  <div class="container">
    <div class="column is-three-fifths">
      <article class="content">
        <header>
          <h2 class="title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}" class="article-title"><span class="icon"><i class="{% if article.icon is defined %}{{ article.icon }}{% else %}fas fa-paperclip{% endif %}"></i></span>&nbsp;{{ article.title }}</a><small class="subtitle"><br>— {{article.description}}</small></h2>
        </header>
        <div class="entry-content"> {{ article.summary }} </div><!-- /.entry-content -->
      </article>
    </div>
  </div>
{% endfor %}
</section><!-- /#posts-list -->
{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
</div><!-- /#content -->
{% endblock content %}
