{% if DEFAULT_PAGINATION %}
<nav class="pagination is-centered" role="navigation" aria-label="pagination">
  {% if articles_page.has_previous() %}<a href="{{ SITEURL }}/{{ articles_previous_page.url }}" class="pagination-previous" title="Previous page" {% if not articles_page.has_previous() %}disabled{% endif %}>Previous</a>{% endif %}
  <ul class="pagination-list">
    <li>
      <a class="is-current" aria-label="Page {{ articles_page.number }}" aria-current="page">{{ articles_page.number }} / {{ articles_paginator.num_pages }}</a>
    </li>
  </ul>
  {% if articles_page.has_next() %}<a href="{{ SITEURL }}/{{ articles_next_page.url }}" class="pagination-next" title="Next page">Next page</a>{% endif %}
</nav>
{% endif %}
